@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@200;400;500;600;700&display=swap');
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css");

@media screen and (max-width: 515px) {
    .top-area{
        flex-direction: column !important;
        width: 100%;
    }
    .search-area{
        width: 60%;
        /* margin-left: 40%; */
    }
  }

.searchicon{
    color:white;
    background-color: #0d6efd;
    border-radius:10px 0px 0px 10px;
}
.searchbox{
    border-radius:0px 10px 10px 0px;
}

.contain {
    margin-top: 3%;
    margin-left: 5%;
    margin-right: 5%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    font-family: 'Raleway', sans-serif;
}

.contain h3 {
    margin-bottom: 0%;
    font-family: 'Raleway', sans-serif;

}

.btn-container {
    width: 68%;
    height: 13vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    background-color: #f1f5f9;
    padding: 30px 20px;
    box-shadow: 0px 10px 20px rgb(200 208 216 / 30%);
    border-radius: 5px;
    /* background-color: rgb(21, 255, 0); */
}

.btn-container Button {
    background-color: #ffffff;
    width: 250px;
    height: 40px;
    border: 2px solid #ffffff;
    box-shadow: 0px 10px 20px rgb(200 208 216 / 30%);
    border-radius: 10px;
    color: black;
    font-size: medium;
}


.my-custom-scrollbar-supervisor {

    margin-top: 3%;
    width: 100%;
    position: relative;
    height: 30vh;
    overflow: auto;
}

.ManageSupervisorTab{
    font-weight: bold ;
    /* background-color:darkgrey; */
}
.AssignSupervisorSearch{
    align-items: center;

}
.assignto{
    text-align: center;
}


