input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.form-container{
  margin-top: 100px;
  margin-bottom: 50px;
}

body {
  /* background-image: url("../assets/images/signupback.jpg"); */
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  min-height: 90vh;
}
