#visit{
    width: 90%;
    margin-top: 5%;
    height: 100%;
}
.VisitLeft{
    width:40%;
    height: 100%;
    float: left;
}
.VisitRightCenter{
    width : 50%;
    float: left;
    align-items: center;
    /* position: relative; */
}
.VisitRightRight{
    width: 50%;
    float:right !important;
}
.VisitRight{
    width: 60%;
    float:right !important;
    height: 90%;
    /* margin-top: 3%; */
    border-radius: 10px;
    padding: 10px;
    text-align: center;
    /* padding-right: 15%; */
}
.my-custom-scrollbar-visit {
    height:60vh;
    /* margin-top: 3%; */
    width: 100%;
    position: relative;
    overflow: auto;
}

@media screen and (max-width: 1200px){
    .VisitRightCenter{
        display: none;
    }
    .VisitRightRight{
        width: 90%;
        
    }
    .VisitLeft{
        width: 50%;
    }
    .VisitRight{
        width: 50%;
    }
    .my-custom-scrollbar-visit{
        height: 55vh;
    }
}
@media screen and (max-width: 555px) {
   .VisitRight{
    display: none;
   } 
   .VisitLeft{
    width: 90%;
   }
   .SetVisit{
    width: 100%;
   }
}
