.AdvertisementCard{
    width: 50%;
}

.cardImage{
    height:140px;
    width:150px;
}

.ButtonSet{
    float: right;
}

@media screen and (max-width:1356px) and (min-width:1209px) {
    .button1{
        font-size: 12px !important;
    }
}

@media screen and (max-width:1209px) and (min-width:1160px) {
    .button1{
        font-size: 10px !important;
    }
    .cardImage{
        height:125px;
        width:125px;
    } 
    .ButtonSet{
        padding-bottom: 5%;
        
    }
}

@media screen and (max-width:1160px) and (min-width:768px) {
    .AdvertisementCard{
        width: 100%;
    }
    
}

@media screen and (max-width:768px) and (min-width:561px) {
    .cardImage{
        height:170px;
        width:195px;
    }
    .button1{
        margin-right: 0% !important;
        margin-bottom: 5% !important;
        float: right;

    }
}
 
@media screen and (max-width:561px){
    .AdvertisementCard{
        width: 100%;
    }
    .cardImage{
        height:140px;
        width:150px;
    }
    .button1{
        margin-bottom: 5% !important;
    }
}